*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
}

/* ---------------------------------------
                  NAVBAR  
------------------------------------------ */
.navbar{
  background-color: #047aed;
}

.navbar .nav__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
}

.navbar .nav__content .title{
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
}

.navbar .nav__content ul{
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar .nav__content ul li a{
  color: #fff;
  text-decoration: none;
  margin-right: 2.5rem;
  padding-bottom: .6rem;
  font-weight: 300;
  font-size: 1.1rem;
}

.navbar .nav__content ul li a:hover{
  border-bottom: 2px solid #fff;
}

/* ---------------------------------------
                  HEADER  
------------------------------------------ */
.header{
  background-color: #047aed;
  height: 400px;
}

.header .head__content{
  display: flex;
  align-items: center;
}

.header .head__content .head__text{
  flex: 0 0 50%;
  color: #fff;
  animation: slideLeft 1s ease-in-out;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.header .head__content .head__text h1{
  font-size: 2.7rem;
  font-weight: 300;
}

.header .head__content .head__text p{
  font-weight: 300;
  margin-top: 1rem;
}

.header .head__content .head__text a{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 1.1rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem;
}

.header .head__content .head__text a:hover{
  transform: scale(.95);
}

.header .head__content .head__form{
  flex: 0 0 39%;
  background-color: #fff;
  padding: 2.4rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  border-radius: 10px;
  margin-left: 2rem;
  position: relative;
  top: 5rem;
  animation: slideRight 1s ease-in-out;
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.header .head__content .head__form .form__control{
  margin: 2rem 0;
}

.header .head__content .head__form .form__control input{
  width: 100%;
  padding: .5rem;
  border: none;
  border-bottom: 1px solid #b4becb;
  outline: none;
}

.header .head__content .head__form .form__control input::placeholder{
  font-size: 1rem;
}

.header .head__content .head__form .btn{
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: #047aed;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.header .head__content .head__form .btn:hover {
  transform: scale(.95);
}

/* ---------------------------------------
                  SUCCESSOR  
------------------------------------------ */
.successor{
  margin: 100px 0;
  text-align: center;
  animation: slideTop 1s ease-in-out;
}

@keyframes slideTop {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.successor .successor__title{
  width: 45%;
  margin: 0 auto;
  font-weight: 300;
  font-size: 1.3rem;
}

.successor .successor__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  margin-top: 60px;
}

.successor .successor__item i{
  font-size: 3.5rem;
}

.successor .successor__item h3{
  font-size: 3rem;
  font-weight: 300;
}

.successor .successor__item p{
  font-size: 1.3rem;
  color: #1c3fa8;
  margin-top: .7rem;
}

/* ---------------------------------------
                  TIME  
------------------------------------------ */
.time .time__content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 80px;
}

.time .time__content img{
  width: 60%;
  animation: slideLeft 1s ease-in-out;
}

.time .time__content .time__item{
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  margin: 30px;
  animation: slideRight 1s ease-in-out;
}

.time .time__content .time__item h3{
  padding: 25px;
}